[submodule "haiku-operating_system"]
	path = haiku-operating_system
	url = ../haiku-operating_system
	branch = main
[submodule "port"]
	path = port
	url = ../haiku-port
	branch = main
[submodule "source"]
	path = source
	url = ../simple-source
	branch = main
